sudo: false
dist: trusty
language: ruby

before_install:
  - gem install bundler -v 1.17.3

install:
  - bundle _1.17.3_ install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}

script:
  - bundle exec rspec

rvm:
  - "2.5"
  - "2.4"
  - "2.3"
  - "2.2"
  - "ruby-head"

matrix:
  allow_failures:
    - rvm: "ruby-head"
